/* --------------------------------------------- General --------------------------------------------- */
.container {
  height: 100%;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero, .team, .description, .quote, .cta {
  min-height: 100vh;
}
.footer {
  padding: 1rem;
  background: linear-gradient(to top, #b3307c 0%, #ff3183 100%);
  min-height: 25vh;
}
.hero {
  background: linear-gradient(to top, #b3307c 0%, #ff3183 100%);
}
.mission {
  min-height: 75vh;
  color: var(--color-white);
  background-color: var(--color-black);
}
.description, .quote, .cta, .mission {
  padding: 0 22em;
}
.location{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5rem;
}
.all_teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.team_info {
  margin: 0 5rem;
}
/* --------------------------------------------- Image --------------------------------------------- */
#logo {
  margin: 8em auto 4em;
  width: 130px;
  height: auto;
}
#footer {
  margin: 2rem auto 0;
  width: 75px;
  height: auto;
}
.team img {
  display: block;
  margin: 0 auto 2rem;
  width: 250px;
  height: auto;
}

.team .oi {
  width: 50px;
  height: auto;
}
/* --------------------------------------------- Text --------------------------------------------- */
.hero h3 {
  margin: 2em 0 1em 0;
  color: var(--color-white);
}
.description h2, .team h2 {
  padding-bottom: 1.5em;
}
.description h3, .team h3, .mission h3 {
  padding-bottom: 1em;
}
.hero h5 {
  margin-left: .5rem;
  color: var(--color-white);
}
.cta h5, .cta h3 {
  text-align: left;
  margin-bottom: .5rem;
}
.footer h5, .footer a {
  text-decoration: none;
  color: var(--color-white);
  margin-bottom: .5rem;
}
.footer a:hover {
  text-decoration: underline;
}
/* --------------------------------------------- Countdown --------------------------------------------- */
.countdown {
  margin: 0 auto 2em;
  color: var(--color-white);
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.105em;
}
.countdown_letters {
  font-family: "Raleway", sans-serif;
  font-size: .5em;
}
.countdown_numbers {
  font-family: "Mukta", sans-serif;
  font-size: .7em;
}
td {
  padding:0 .5em 1em .5em;
}
/* ------------------------------------------ Rotating Images ------------------------------------------ */
.scroll {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: auto;
  filter: drop-shadow(.4em .4em 2em rgba(0, 0, 0, 0.1));
  scroll-behavior: smooth;
}
/* .scroll {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: auto;
  filter: drop-shadow(.4em .4em 2em rgba(0, 0, 0, 0.1));
	-webkit-animation: rotation 60s infinite linear;
} */
.scroll_left {
  left: -10em;
}
.scroll_right {
  right: -5em;
}
/* @-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
} */
/* ------------------------------------------ Media Queries ------------------------------------------ */
@media (min-width: 701px) and (max-width: 1200px) {
  .description, .quote, .cta {
    padding: 0 9em;
  }
}
@media (max-width: 700px) {
  .description, .quote, .cta {
    padding: 0 3em;
  }
  .team img {
    width: 300px;
    height: auto;
  }
}
